.Add-record{
    display: block;
    background-color: chocolate;
}

.nextButtonPlacer{
    margin-top: 20px;
}

.backButtonPlacer{
    margin-right: 100px;
    margin-top: 20px;
}

.errorMsg{
    color: red;
    font-size: 12px;
    font-weight: inherit;
}